:root {
    font-size: 8px;
    overflow-x: hidden;
}

body {
    font-family: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*navigation */
.menu_icon {
    font-size: 6em;
    position: absolute;
    top: 1vh;
    left: 2vh;
    color: black;
    z-index: 1000;
    position: fixed;
    text-shadow: 1px 1px white;
    display: none;
}

.navigation {
    text-align: center;
    font-size: 3em;
    z-index: 2;
    position: fixed;
    top: 0;
    right: 0;
    color: white;
    min-width: 65vw;
}

.navigation>ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.navigation li {
    border-bottom: 1px solid white;
}

.navigation li:hover {
    cursor: pointer;
}

/*main page */
.main_page {
    height: 100vh;
    background: url('../photo/serwis.jpg') center;
    background-size: cover;
}

.courtine {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
}

/* about us */
.about_us {
    min-height: 50vh;
    text-align: center;
    padding: 0 5%;
    color: black;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.about_us_description {
    min-height: 30vh;
    width: 70%;
    font-size: 2.5em;
    line-height: 3em;
    margin: 0 auto;
}

/* offer page */
.offer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    color: black;
    justify-content: space-around;
    min-height: 90vh;
    align-content: center;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.tiles {
    min-height: 25vh;
    min-width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.icon {
    color: #f05f40;
    font-size: 4.5em;
}

.tiles_title {
    font-size: 2.5em;
    padding: 10px 0;
}

.tiles_description {
    font-size: 2em;
    padding: 0 2%;
}

/*  contact page */
.contact {
    text-align: center;
    min-height: 60vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact_tiles_description {
    text-decoration: none;
    font-size: 2.5em;
    min-height: 13vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    line-height: 1.5em;
}

/* other classes */
.flex_center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.title {
    width: 100%;
    height: 10vh;
    font-size: 4em;
    line-height: 10vh;
}

a {
    color: inherit;
    text-decoration: none;
}

@media only screen and (max-width:1000px)
{   
   .navigation{
       display: none;
       text-align: right;
       padding-right: 5%;
   }
   .show{
      display: block;
   }
   .navigation > ul{
       flex-direction: column;
       height: 40vh;    
    }
  .menu_icon{
      display: block;
  }
  .navigation li {
    border-bottom: none
    }
}